# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv/
venv/
.envrc

# Jupyter
.ipynb_checkpoints
*.ipynb

# Data
data/raw/*
!data/raw/.gitkeep

!data/interim/.gitkeep

!data/processed/.gitkeep

# VSCode / JetBrains
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
